---
import Layout from '@layouts/Layout.astro';
---

<Layout title="prsnl Changelog">
  <main class="pl-4 pt-4 text-white">
    <h1 class="text-4xl">CHANGELOG</h1>
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">03/03/2024</h2>
      <p class=text-lg>Added:</p>
      <ul class="pl-4">
        <li>https://www.julienthibeaut.xyz/</li>
      </ul>
    </div>
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl" class="text-2xl">03/02/2024</h2>
      <p class="text-lg" class="text-lg">Added:</p>
      <ul class="pl-4">
        {
          [
            "https://kevquirk.com",
            "https://freeman.vc",
            "https://chrlschn.dev",
            "https://wezfurlong.org",
            "https://kayserifserif.place"
          ].map((site) => <li>{site}</li>)
        }
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">02/20/2024</h2>
      <p class="text-lg" class="text-lg">Added:</p>
      <ul class="pl-4">
        {
          [
            "https://ben.page",
            "https://maxrozen.com",
            "https://coreyd.dev",
            "https://willbush.dev",
            "https://mrmr.io"
          ].map((site) => <li>{site}</li>)
        }
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">01/17/2024</h2>
      <p class="text-lg">Updated:</p>
      <ul class="pl-4">
        <li>https://vitalik.ca -> https://vitalik.eth.limo</li>
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">01/10/2024</h2>
      <p class="text-lg">Added:</p>
      <ul class="pl-4">
        {
          [
            "https://ped.ro",
            "https://kyledrake.com",
            "https://fromjason.xyz",
            "https://ellie.wtf"
          ].map((site) => <li>{site}</li>)
        }
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">01/16/2023</h2>
      <p class="text-lg">Added:</p>
      <ul class="pl-4">
        <li>https://cassidoo.co</li>
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">01/14/2024</h2>
      <p class="text-lg">Removed:</p>
      <ul class="pl-4">
        <li>https://drewdevault.com</li>
        <li>https://derekkay.com/</li>
      </ul>
      <p class="text-lg">Updated:</p>
      <ul class="pl-4">
        <li>
          - https://calebporz.io -> https://calebporzio.com
        </li>
      </ul>
      <p class="text-lg">Added:</p>
      <ul class="pl-4">
        <li>https://sindresorhus.com/</li>
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">12/23/2023</h2>
      <p class="text-lg">Added:</p>
      <ul class="pl-4">
        {
          [
            "https://carlana.net",
            "https://sandren.com"
          ].map((site) => <li>{site}</li>)
        }
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">12/20/2023</h2>
      <p class="text-lg">Added:</p>
      <ul class="pl-4">
        {
          [
            "https://zachleat.com",
            "https://molefrog.com"
          ].map((site) => <li>{site}</li>)
        }
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">12/06/2023</h2>
      <p class="text-lg">Added:</p>
      <ul class="pl-4">
        <li>https://sean-crim.com</li>
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">11/18/2023</h2>
      <p class="text-lg">Added:</p>
      <ul class="pl-4">
        {
          [
            "https://vijayverma.co",
            "https://xavd.id",
            "https://trstringer.com"
          ].map((site) => <li>{site}</li>)
        }
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">11/17/2023</h2>
      <p class="text-lg">Added</p>
      <ul class="pl-4">
        {
          [
            "https://doceazedo.com",
            "https://jvt.me",
            "https://robinrendle.com",
            "https://sandrarodgers.com",
            "https://calebk.com"
          ].map((site) => <li>{site}</li>)
        }
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">11/8/2023</h2>
      <p class="text-lg">Added:</p>
      <ul class="pl-4">
        <li>https://marcoroth.dev</li>
      </ul>
    </div>
    <hr />
    <div class="text-white flex flex-col gap-1 my-4">
      <h2 class="text-2xl">10/28/2023</h2>
      <p class="text-lg">Added</p>
      <ul class="pl-4">
        {
          ["https://daniel.do", "https://mollywhite.net", "https://joebell.co.uk", "https://heather-buchel.com",
          "https://patrickweaver.net", "https://www.haraldurthorleifsson.com", "https://derekkay.com", "https://garden.bradwoods.io",
          "https://clairefro.dev"].map((site) => <li>{site}</li>)}
      </ul>
      <p class="text-lg">Updated:</p>
      <ul class="pl-4">
        {
          ["https://lukesmith.xyz", "https://leerob.io", "https://whitep4nth3r.com", "https://tatianamac.com",
            "https://connellmccarthy.com", "https://marcbouchenoire.com", "https://chriscoyier.net"].map((site) => <li>{site}</li>)
        }
      </ul>
      <p class="text-lg">Removed:</p>
      <ul class="pl-4">
        {
          ["https://saurik.com", "https://wittenburg.co.uk", "https://markmead.dev"].map((site) => <li>{site}</li>)
        }
      </ul>
    </div>
    <hr />
  </main>
</Layout>